
    <div class="card-body text-center">
      <ul class="list-group list-list">
        <li class="list-group-item new-item">
          <form id="list-form">
            <div class="container">
              <div class="row">
                <div class="col">
                  <input class="new-item form-control" placeholder="Add a movie" type="text" />
                </div>
                <div class="col">
                  <button type="submit" class="btn-sm btn-success">Add Movie</button>
                </div>
              </div>
            </div>
          </form>
        </li>
        <span class="list-container">
        </span>
      </ul>   
    </div>
  