<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">My Movie List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#unless authenticated}}
      <li class="nav-item">
        <button type="button" class="btn btn-outline-success btn" onclick="location.href='/signup'">Sign Up</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-success btn" onclick="location.href='/signin'">Sign In</button>
      </li>
      {{else}}
      <li class="nav-item">
        <button type="button" class="btn btn-outline-success btn" onclick="location.href='/signout'">Sign Out</button>
      </li>
      {{/unless}}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/api/search" method="POST">
      <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" name="search" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
<div class="container-fluid card">
  <div class= "row">
  <div class="col-sm-9 scroll card bg-warning">
    <div class="card-body text-center">

      {{#unless searchResults}}
      {{> default}}
      {{else}}
      {{> search}}
      {{/unless}}
      
      {{!-- <ul class="list-group list-list">
        <li class="list-group-item new-item">
          <form id="list-form">
            <div class="container">
              <div class="row">
                <div class="col">
                  <input class="new-item form-control" placeholder="Add a movie" type="text" />
                </div>
                <div class="col">
                  <button type="submit" class="btn-sm btn-success">Add Movie</button>
                </div>
              </div>
            </div>
          </form>
        </li>
        <span class="list-container">
        </span>
      </ul>    --}}
    </div>
  </div>
  
  <div class="col-sm-3">
  <div class="card bg-secondary">
   <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- The slideshow -->
      <div class="carousel-inner">
        {{#each posters}}
          {{#if @first}}
            <div class="carousel-item active">
          {{else}}
            <div class="carousel-item">
          {{/if}}
          <img src="{{this}}">
        </div>
        {{/each}}
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>


</div>
   
   <div class="card news scroll2 bg-danger">
    <div class="card-body text-center">  
      {{!-- <p class="card-text">Movie News</p> --}}
      <div class="innerCard">
        <h4>Movie News</h4>
      <ul>
        {{#each newsResults}}
          {{> news}}
        {{/each}}
      </ul> 
      </div>
    </div>
  </div> 
  {{!-- <div class="card bg-primary">
    <div class="card-body text-center">
      <p class="card-text">Upcoming Trailer</p>
      <ul>

      </ul> 
      <div class="embed-responsive embed-responsive-1by1">
        {{!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ARyZpzqD6lA?start=42" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}
      </div> 
      </div>
    </div> --}}
  </div>
 
</div>
</div>

<div>
  <br>
  <div class="card bg-secondary">
    <div class="card-body text-center">
      <p class="card-text"></p>
    </div>
  </div> 
</div>