body {
  background-color: black;
}

h2 {
  margin: 20px;
  padding: 10px;
  color: white;
}

.authorization {
  background-color: white;
  margin: auto;
  width: 60%;
  margin-top: 10%;
  border: 3px ridge red;
  border-radius: 12px;
  padding: 3%;
  text-align: -webkit-center;
}

.btn {
  margin: 2px;
}

.list-list {
  margin: 0 auto;
  margin-top: 75px;
}

input.new-item:focus {
  outline: none;
}

.list-group-item > button.delete,
.list-group-item > button.complete {
  float: right;
  height: 25px;
  margin-left: 5px;
}

.edit {
  width: 100%;
}

.card {
  background-color: black;
}

.carousel {
  height: 354px;
  text-align: center;
}

img{
  margin: 27px;
}