body {
  background-color: black;
}

h2 {
  margin: 20px;
  padding: 10px;
  color: white;
}

.authorization {
  background-color: white;
  margin: auto;
  width: 60%;
  margin-top: 10%;
  border: 3px ridge red;
  border-radius: 12px;
  padding: 3%;
  text-align: -webkit-center;
}

.btn {
  margin: 2px;
}

.list-list {
  margin: 0 auto;
  margin-top: 75px;
}

input.new-item:focus {
  outline: none;
}

.list-group-item > button.delete,
.list-group-item > button.complete {
  float: right;
  height: 25px;
  margin-left: 5px;
}

.edit {
  width: 100%;
}

.card {
  background-color: black;
}

.carousel {
  height: 354px;
  text-align: center;
}

img{
  margin: 27px;
}

.scroll {
   overflow-y: auto;
}

.scroll2 {
  overflow-y: auto;
}

.innerCard{
  border: 3px solid rgb(252, 102, 102);
  background:rgb(252, 102, 102);
  color: black;
  border-radius: 5px;
  padding:auto;
  margin: auto;
  text-align: center;
  font-family: 'Special Elite', cursive;
}
.innerCard2{
  border: 3px solid #ffe866;
  background:#ffe866;
  color: black;
  border-radius: 5px;
  padding:auto;
  margin: auto;
  text-align: center;
  font-family: 'Special Elite', cursive;
}

h5{
  margin-right:33px;
}

a{
  color:black;
}

.navbar-brand{
  font-family: 'Special Elite', cursive;
}

#default-page{
  font-family: 'Special Elite', cursive;
}